<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Redmine_Access_URL" value="http://192.168.0.40:3000/"/>
    <add key="Redmine_API_Key" value="175b7a1905e471a42d72e99cfebe1d085de60f9c"/>
    <add key="Test_identifier" value="project-second"/>
  </appSettings>
</configuration>